
process {
    container = 'dilmicperera/msisensor:0.5'
    withName: run_mantis {
        memory = 8.GB
	}
}
workDir  =  "s3://dperera-orchestration-nextflow-bioinformatics-ch/Outputs/WorkDir_mantis"
docker.enabled = true
params.normal_bam = "inputs/Pooled_normal.bam"
params.normal_bai = "inputs/Pooled_normal.bam.bai"
params.loci_file_mantis = "inputs/loci.bed"
//params.genome_fa = "s3://dperera-orchestration-nextflow-bioinformatics-ch/mantis_nf/Inputs/hg19.fa"
//params.genome_fa_fai = "s3://dperera-orchestration-nextflow-bioinformatics-ch/mantis_nf/Inputs/hg19.fa.fai"
params.bam_folder = "test/bam_folder"
params.output_folder = "s3://dperera-orchestration-nextflow-bioinformatics-ch/Outputs"
