
process.container = 'dilmicperera/mantis:latest'
process.memory = 8.GB
process {
    withName: run_mantis {
        memory = 8.GB
	}
}

docker.enabled = true
params.normal_bam = "inputs/Pooled_normal.bam"
params.normal_bai = "inputs/Pooled_normal.bam.bai"
params.loci_file_mantis = "inputs/loci.bed"
params.genome_fa = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.genome_fa_fai = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
params.bam_folder = "test/bam_folder"
params.output_folder = "s3://dperera-orchestration-nextflow-bioinformatics-ch/Outputs"
